black
colorama
cxxfilt
graphviz
intervaltree
mapfile-parser==2.1.4
pre-commit
pycparser
python-Levenshtein
requests
tabulate
tqdm
watchdog
# splat
crunch64==0.3.1
n64img==0.3.3
pillow
pygfxd==1.0.2
pylibyaml
PyYAML
rabbitizer==1.9.1
spimdisasm==1.21.0